@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.chartsTitle {
  display: flex;
  padding: 50px 0px 0px 0px;
  font-family: "Open Sans", sans-serif;
  color: rgb(84, 85, 85);
  justify-content: center;
}

.chart-card {
  /* border-radius: 5px;
  border: 2px solid rgb(232, 228, 228);
  padding-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  padding: 40px;
  justify-content: space-evenly; /*in the row betwwen charts*/
}

/* .chartsContainer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */

.chartBox {
  margin-bottom: 40px; /*space mellan charts under varandra*/
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.scrollContainer {
  max-width: 800px;
  min-width: 320px;
  height: 400px;
  width: 600px;
}

.zoomContainer {
  height: 300px;
  min-width: 310px;
  max-width: 800px;
}
.zoomChart {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
